# fly.toml app configuration file generated for catalyst-tak-adapter on 2025-06-05T20:16:39+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'catalyst-tak-adapter'
primary_region = 'ord'

[build]
  dockerfile = "Dockerfile"

[env]
  CONFIG_PATH = 'config.toml'
  NODE_ENV = 'production'
  DD_SERVICE = "catalyst-tak-adapter"
  DD_TAGS = 'fly_app:catalyst-tak-adapter'

[[mounts]]
  source = 'adapter_data_ord'
  destination = '/data'

[[services]]
  internal_port = 8125
  processes = ["app"]
  protocol = "udp"
  [[services.ports]]
    port = 8125
    
[[services]]
  internal_port = 8126
  processes = ["app"]
  protocol = "tcp"
  [[services.ports]]
    port = "8126"

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
