app = "tak-rz-consumer-producer"
primary_region = "nrt"

[build]
dockerfile = "Dockerfile"

[env]
CONFIG_PATH = "config.toml"
DD_SERVICE = "tak-rz-consumer-producer"
DD_TAGS = "fly_app:tak-rz-consumer-producer"
NODE_ENV = "production"

[[mounts]]
destination = "/data"
source = "adapter_data_ord"

[[services]]
internal_port = 8_125
processes = [ "app" ]
protocol = "udp"

  [[services.ports]]
  port = 8_125

[[services]]
internal_port = 8_126
processes = [ "app" ]
protocol = "tcp"

  [[services.ports]]
  port = 8_126

[[vm]]
cpu_kind = "performance"
cpus = 2
memory = "4gb"